{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Budget App</title>
        
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script >
        $(document).ready(function(){

        $("#profile").click(function(){

            $("#pro1").toggle();


        });


        $("#view").click(function(){

            $("#pred").css("background-color", "#48D1CC");
        


        });

        $("#pro1").hover(function(){
        $("#pro1").animate({width:"toggle"},1000);
        });
        
        $("#get_cont").click(function(){
        $("#trial1").show();
        $("#tabl").fadeIn("slow");
        $("#bud").addClass("important");
        });

        $("#add_exp").click(function(){
            $("#amt_left").addClass("rand");
            
            
        });
         $(".table-row").hover(function(){
        $(this).css("background-color", "#48D1CC");
        }, function(){
        $(this).css("background-color", "");
        });

        });
        $("#main").mouseenter(function(){
        $("#main").css("background-color", "yellow");
        });
        $("#main").mouseleave(function(){
        $("#main").css("background-color", "lightgray");
        });

       
      
        
       
    
        </script>

        <style>
        .important {
        font-weight: bold;
        font-size: xx-large;
        }

        .rand {
        color: black;
        background: #48D1CC;
        }

        select{
        color: black;
        background-color: white;
            }
    </style>


        </head>

    <body style="background-color:#D4E6F1" onload="getContent()">
        
        <nav>
            <div class="nav-wrapper">
                <a href='{% url "index" %}' class='brand-logo center'>Budget-It</a>
                <ul class="right">
                    <li><a href='{% url "logout" %}' class='btn'>Logout</a></li>
                </ul>
            <button id="profile" class="btn btn-info"> View/Hide Profile pic </button>
            <div id="pro1" style="display: none; position:absolute" > 
                <img id ="prof" src= "{% static 'budget_app/1.jpg' %}">
            </div>
            </div>

        </nav>
        <br>
        <div class="section">
        	<h3 id="main" class="center">Hi, {{ user }}! Welcome to your Dashboard!</h3>
                            <br>
            <div class="row" id="budget" style="display: none;">
                
                <form class="col s12" action='{% url "index" %}' method='post' id="entered_budget">
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            
                        <div class="input-field col s3">
                                <input placeholder='budget' name='init_budget' id='init_budget' type='text' class='validate' required>
                                <label for='init_budget'>Enter your budget</label>
                        </div>
                        
                        <div class="input-field col s3">
                                <input placeholder='Date of Expense' name="init_expense_date" id="init_expense_date" type="text" class='datepicker'>
                                <label for="init_expense_date">Budget Date</label>
                        </div>
                        <button id="get_cont" class="btn waves-effect waves-light" type="submit" name="action">Add Budget
                                <i class="material-icons right">add_circle</i>
                        </button>
                            
                        </div>
                    </div>
                </form>
            </div>



            <div class="row" id="expense" >

                <form class="col s12" action='{% url "add item" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div id="trial1" class="container center">
                            <!-- <h3 class="center">Hi, {{ user }}! Welcome to your Dashboard</h3>
                            <br> -->
                            
                            <h5 id="bud" class='center'>Your total budget is: <span style="color:green;">{{budget}}</span> Rupees</h5>
                            
                            <h5 id="spent" class='center'>You've spent a total of : <span style="color:red;">{{expenses}}</span>Rupees</h5>
                            
                            <h5 id="amt_left" class='center'>Amount left: <span style="color:black;">{{diff}}</span> Rupees</h5>
                            {% if expenses > budget %} <p style="background-color: #F08080"> You've spent too much! </p>
                            {% endif %}
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="input-field col s5">
                                <input placeholder="Expense name" name="expense_name" id='expense_name' type='text' class='validate' required>
                                <label for='expense_name'>Expense name</label>
                            </div>
                            <div class="input-field col s5">
                                <input placeholder='Amount' name='cost' id='cost' type='text' class='validate' required>
                                <label for='cost'>Amount</label>
                            </div>
                            <div class="input-field col s5">
                                <input placeholder='Date of Expense' name="expense_date" id="expense_date" type="text" class='datepicker' required>
                                <label for="expense_date">Expense Date</label>
                            </div>
                            <div class="input-field col s5">
                                <input placeholder='transaction' name='transaction' id='transaction' type='text' class='validate' required>
                                <label for='transaction'>Transaction Type(credit/debit)</label>
                                <select id="transaction" name="transaction" class="form-control">
                                        <option value="debit" selected>Debit</option>
                                        <option value="credit">Credit</option>
                                </select>
                                
                                
                            </div>
                        </div>
                        <button id="add_exp" class="btn waves-effect waves-light" type="submit" name="action" onclick="getContent()">Add Expense
                                <i class="material-icons right">add_circle</i>
                        </button>
                    </div>
                </form>

            </div>

                <!-- <form class="col s12" action='{% url "dashboard" %}' method='post'>
                    {% csrf_token %}
                    <center>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                    View Your Personalised Dash
                    </button>
                </center>
                </form> -->
                <br><br>
                <div>
                <center>
                
                <button id="view" class="btn waves-effect waves-light" type="submit" name="action" onclick="show()">
                    View Your Personalised Dashboard
                </button>
                <button id = "hide" class="btn waves-effect waves-light" type="submit" name="action" onclick="hidedb()">
                    Hide your Personalised dashboard
                </button>
                <h6> Make 10 debits to view a predicted range of your next purchase! </h6>
                <br>
                {% if lower < upper %}
                <h5 id="pred" class='center'>Predicted spend: <span style="color:black;">{{ lower }}-{{ upper }}</span> Rupees</h5>
                {% else %}
                <h5 id="pred" class='center'>Predicted spend: <span style="color:black;">{{ upper }}-{{ lower }}</span> Rupees</h5>
                {% endif %}
                <div id="showdb" style="display: inline">
                <center>
                <div>
                </div>
                

            </div>

        </div>

        <div id="tabl" class="section">
            <div class="row">
                <div class="container">
                    <div  class="col s6">
                        <h5> Review your Credits </h5>
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr class="table-row">
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for expense_item in expense_items %}
                                {% if expense_item.cost > 0 %}
                                <tr class="table-row">
                                    <td >{{ expense_item.expense_name }}</td>
                                    <td >{{ expense_item.cost }}</td>
                                    <td >{{ expense_item.date_added}}</td>

                                    
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6">
                        <h5> Review your Debits </h5>
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr class="table-row">
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for expense_item in expense_items %}
                                {% if expense_item.cost < 0 %}
                                <tr class="table-row">
                                    <td>{{ expense_item.expense_name }}</td>
                                    <td>{{ expense_item.cost}}</td>
                                    <td>{{ expense_item.date_added}}</td>
                                    
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

            
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });

            function hidedb()
            {
                document.getElementById("showdb").style.display='none';
            }
            function getContent()
            {
                console.log("in get content")
                document.getElementById('expense').style.display ='inline';
                // document.getElementById('budget').style.display ='none';
                fetchmore();
            }
            function fetchmore()
            {
                console.log("in fetchmore")
                xhr = new XMLHttpRequest();
                xhr.open("get",'{% url "dashboard" %}')
                xhr.readystatechange=show;
                xhr.send()
            }
            function show()
            {
                console.log("in show")
                console.log(xhr.status)
                if(xhr.readyState==4 && xhr.status==200)
                {

                console.log("hello");
                console.log(xhr.responseText);
                document.getElementById("showdb").style.display='inline'
                document.getElementById("showdb").innerHTML=xhr.responseText

    
                }
            }

            function setGetParameter(){
                name = expense_item
                date = document.getElementById('date').valuel
                cost  = document.getElementById('cost').value
                console.log(name)
                console.log(date)
                console.log(cost)
                
                }
           

        </script>
    </body>

</html>

