{% load static %}

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color:#D4E6F1">
	<nav>
        <div class="nav-wrapper">
            <a href='{% url "index" %}' class='brand-logo center'>Budget-It</a>
            <ul class="right">
                <li><a href='{% url "logout" %}' class='btn'>Logout</a></li>
            </ul>
        </div>
    </nav>
    <br> -->
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
	<script>
	$(document).ready(function(){
	$("p").mouseenter(function(){
	$("#1").css("background-color", "yellow");
	});
	$("#1").mouseleave(function(){
	$("p").css("background-color", "lightgray");
	});
	});
	</script>
  

</script>
</head>
<body>
    <h5 align="center">View your dashboard </h5>
    <div class="section">
            <div class="row">
                <div class="container">
				    <div id="1" class="col s6">
				        <h5>Total Expense vs Total Budget</h5>
				        <img class='responsive-img' src= "{% static 'budget_app/expense.png' %}">
				    </div>
				                    
				    <div id="2" class="col s6">
					    <h5>Your monthly Expenses</h5>
					    <img class='responsive-img' src= "{% static 'budget_app/costs.png' %}"">
				    </div>
			</div>
			</div>
			<div class="row">
                <div class="container">
				    <div id="3" class="col s6">
					    <h5>Your monthly Credits</h5>
					    <img class='responsive-img' src= "{% static 'budget_app/credits.png' %}">
				    </div>

				    <div id="4" class="col s6">
					    <h5>Watch it go</h5>
					    <img class='responsive-img' src= "{% static 'budget_app/predict.png' %}" alt="Make at least 10 debits">
				    </div>
				</div>
		    </div>
	</div>
</body>
</html>
<!-- </body>
</html> -->