{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Budget App</title>
        
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script >
        $(document).ready(function(){

        $("#profile").click(function(){

            $("#pro1").toggle();


        });


        $("#view").click(function(){

            $("#pred").css("background-color", "#48D1CC");
        


        });

        $("#pro1").hover(function(){
        $("#pro1").animate({width:"toggle"},1000);
        });
        
        $("#get_cont").click(function(){
        $("#trial1").show();
        $("#tabl").fadeIn("slow");
        $("#bud").addClass("important");
        });

        $("#add_exp").click(function(){
            $("#amt_left").addClass("rand");
            
            
        });
         $(".table-row").hover(function(){
        $(this).css("background-color", "#48D1CC");
        }, function(){
        $(this).css("background-color", "");
        });

        });
        $("#main").mouseenter(function(){
        $("#main").css("background-color", "yellow");
        });
        $("#main").mouseleave(function(){
        $("#main").css("background-color", "lightgray");
        });
    
        </script>

        <style>
        .important {
        font-weight: bold;
        font-size: xx-large;
        }

        .rand {
        color: black;
        background: #48D1CC;
        }
    </style>


        </head>

    <body style="background-color:#D4E6F1">
        
        <nav>
            <div class="nav-wrapper">
                <a href='{% url "index" %}' class='brand-logo center'>Budget-It</a>
                <ul class="right">
                    <li><a href='{% url "logout" %}' class='btn'>Logout</a></li>
                </ul>
            <button id="profile" class="btn btn-info"> View/Hide Profile pic </button>
            <div id="pro1" style="display: none; position:absolute" > 
                <img id ="prof" src= "{% static 'budget_app/1.jpg' %}">
            </div>
            </div>

        </nav>
        <br>
        <div class="section">
        	<h3 id="main" class="center">Hi, {{ user }}!<br>Please add an initial budget to continue<br></h3>
                            <br>
            <div class="row" id="budget" style="display: inline">
                
                
                <center>
                {% if budget > 0 %}
                    <p> You have already set a budget for yourself </p>
                    <a href='{% url "budget" %}' class="btn"> Proceed to Add expenses </a>
               

                {% else %}
                    <p> You havent set any initial budget. Please add a budget to get started! </p>
                    <form class="col s12" action='{% url "budget" %}' method='post' id="entered_budget">
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            
                        <div class="input-field col s3">
                                <input placeholder='budget' name='init_budget' id='init_budget' type='text' class='validate' required>
                                <label for='init_budget'>Enter your budget</label>
                        </div>
                        
                        <div class="input-field col s3">
                                <input placeholder='Date of Expense' name="init_expense_date" id="init_expense_date" type="text" class='datepicker' required>
                                <label for="init_expense_date">Budget Date</label>
                        </div>
                        <button id="get_cont" class="btn waves-effect waves-light" type="submit" name="action">
                            Add Budget
                                <i class="material-icons right">add_circle</i>
                        </button>
                            
                        </div>
                    </div>
                </form>
                 {% endif %}
                 </center>
            </div>




        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>

<!--
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });

            function hidedb()
            {
                document.getElementById("showdb").style.display='none';
            }
            function getContent()
            {
                console.log("in get content")
                document.getElementById('expense').style.display ='inline';
                // document.getElementById('budget').style.display ='none';
                fetchmore();
            }
            function fetchmore()
            {
                console.log("in fetchmore")
                xhr = new XMLHttpRequest();
                xhr.open("get",'{% url "dashboard" %}')
                xhr.readystatechange=show;
                xhr.send()
            }
            function show()
            {
                console.log("in show")
                console.log(xhr.status)
                if(xhr.readyState==4 && xhr.status==200)
                {

                console.log("hello");
                console.log(xhr.responseText);
                document.getElementById("showdb").style.display='inline'
                document.getElementById("showdb").innerHTML=xhr.responseText

    
                }
            }


        </script>
-->
    </body>

</html>

